.item_container{
    display: flex;
    justify-content: center;
}

.item_grid{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
}

.item{
    margin: 10px 20px;
    position: relative;
}

img{
    border-radius: 5px;
}

img:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.06);

}

